body {
    margin: 0;
}

header {
    text-align: center;
    color: white;
    background:linear-gradient(170deg, #044389 , #c9f9ff );
}

header h1 {
    margin: 0;
    padding: 15px;
}

#weather-hub {
    display: flex;
    min-width: 100%;
}

#search-bar {
    width: 30%;
    padding: 15px;
    background-color: #c9f9ff;
}

#search-bar h1{
    color: #044389;
    text-align: center;
}

#search-input {
    width: 93%;
    padding: 10px;
    border-radius: 4px;
}

#search-button {
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #044389;
    color: white;
}
main {
    min-width: 70%;
}

#one-day {
    padding: 15px;
    margin: 15px;
    border: 2px solid #044389;
    min-width: 90%;
    color: #044389;
}

.five-day-cards {
    display: flex;
    justify-content: space-between;
}

.card { 
    color: white;
    background-color: #044389;
    padding: 15px;
    width: 20%;
    box-sizing: border-box;
    margin: 15px;
}